In [57]:
import numpy as np
import pandas as pd

In [61]:
df = pd.DataFrame(pd.read_csv("Comp.csv"))

In [62]:
df

    SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
0             1                         57                         62
1             2                        103                        122
2             3                         59                         54
3             4                         75                         82
4             5                         84                         84
5             6                         73                         86
6             7                         35                         32
7             8                        110                        104
8             9                         44                         38
9            10                         82                        107
10           11                         67                         84
11           12                         64                         85
12           13                         78                         99
13           14                         53                         39
14           15                         41                         34
15           16                         39                         58
16           17                         80                         73
17           18                         87                         53
18           19                         73                         66
19           20                         65                         78
20           21                         28                         41
21           22                         62                         71
22           23                         49                         38
23           24                         84                         95
24           25                         63                         81
25           26                         77                         58
26           27                         67                         75
27           28                        101                         94
28           29                         91                        100
29           30                         50                         68

In [63]:
#1:Mean of old scheme & new scheme
print("Mean of Old Scheme is {} and New Scheme is {}".format(df['Old Scheme (in thousands)'].mean(),df['New Scheme (in thousands)'].mean()))

Mean of Old Scheme is 68.03333333333333 and New Scheme is 72.03333333333333

In [64]:
#2:To determine the p value to check new scheme has significantly raised outputs we will generate null and alternate hypothesis
#Null Hypothesis : Scheme has no significantly raised outputs
#Alternate Hypothesis : Scheme has significantly raised outputs

from scipy import stats
stats.ttest_ind(df['Old Scheme (in thousands)'], df['New Scheme (in thousands)'])

Ttest_indResult(statistic=-0.6937067608923764, pvalue=0.49063515686248105)

In [65]:
#3: p > 0.05 i.e we accept Null Hyothesis "Scheme has no significantly raised outputs"

df1 = pd.DataFrame(pd.read_csv("Insu.csv")

In [68]:
df1 = pd.DataFrame(pd.read_csv("Insu.csv"))
df1

    SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
0             1                         57                         62
1             2                        103                        122
2             3                         59                         54
3             4                         75                         82
4             5                         84                         84
5             6                         73                         86
6             7                         35                         32
7             8                        110                        104
8             9                         44                         38
9            10                         82                        107
10           11                         67                         84
11           12                         64                         85
12           13                         78                         99
13           14                         53                         39
14           15                         41                         34
15           16                         39                         58
16           17                         80                         73
17           18                         87                         53
18           19                         73                         66
19           20                         65                         78
20           21                         28                         41
21           22                         62                         71
22           23                         49                         38
23           24                         84                         95
24           25                         63                         81
25           26                         77                         58
26           27                         67                         75
27           28                        101                         94
28           29                         91                        100
29           30                         50                        100

In [72]:
stats.ttest_ind(df['Old Scheme (in thousands)'], df['New Scheme (in thousands)'])

Ttest_indResult(statistic=-0.8677876591122892, pvalue=0.38908696149020516)

In [73]:
#4a: The probability of a type 1 error is 0.389
#4b: p value is 0.3890